@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Funnel Display", serif;
  background-color: rgb(23, 30, 26);
}

/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

nav .logo {
  color: #A8DADC;
  margin-right: 130px;
  font-weight: 600;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #A8DADC;
  transition: all 0.3s ease 0s;
}

/* Hero Section */
section.hero-section {
  background-color: rgb(23, 30, 26);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 200px 120px 50px 200px;
}

.hero-section .title {
  font-size: 48px;
}

.hero-section .title span {
  color: #A8DADC;
}

.hero-section .desc {
  color: #c4c4c4;
}

.hero-img img {
  margin-left: 30px;
  border-radius: 15px;
}

.social-icons {
  margin: 18px 0;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #A8DADC;
  padding: 8px 12px;
}

.social-icons li:hover {
  background-color: #A8DADC;
  transition: all 0.3s ease 0s;
}

.social-icons li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.hero-buttons button {
  margin-right: 10px;
}

.hero-buttons button > a {
  text-decoration: none;
  color: #fff;
}

/* Subjects Section */
.subjects-card-box {
  margin: 35px 10px;
  padding: 33px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

.subjects-card-box h2{
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 25px;
}

.subjects-card-box h3{
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 25px;
}

section.table-section {
  background-color: rgb(23, 30, 26);
  color: #fff;
  align-items: center;
  padding: 100px 130px 50px 100px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #729596;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 50%;
}
.responsive-table .col-3 {
  flex-basis: 5%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
 }
  .responsive-table li {
    display: block;
 }
  .responsive-table .col {
    flex-basis: 100%;
 }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
 }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
 }
}

small {
  font-size: 7px;
}

.pagination-buttons {
  text-align: center;
}

.pagination-buttons button {
  margin-right: 2px;
}

.pagination-buttons button > a {
  text-decoration: none;
  color: #fff;
}

.semester {
  display: none;
}
.semester.active {
  display: block;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-primary {
  background-color: #A8DADC;
  color: #1b1f24;
  font-weight: 600;
  
}

.btn.btn-primary:hover {
  background-color: #729596;
  transition: all 0.3s ease 0s;
}

.btn-dark-outlined {
  background-color: #1b1f24;
  border: 1px solid #A8DADC;
  color: #A8DADC;
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: #A8DADC;
  color: #fff !important;
  transition: all 0.3s ease 0s;
}

/* hover.css */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-bob .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #729596;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}